<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script-->
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

    <script type="text/javascript" src="https://phppot.com/demo/creating-autocomplete-field-using-bootstrap/typeahead.js"></script>
	<link href="https://phppot.com/demo/creating-autocomplete-field-using-bootstrap/typeahead.css"  rel="stylesheet" />


    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profilestyle.css') }}">
    <script type="text/javascript" rel="stylesheet">
        $(document).ready(function(){
            var countries=''
            $.getJSON( "{{ url_for('autocomplete') }}", function( data ) {
            countries = data,
            console.log(countries);
            });
            var countries_suggestion = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                local: countries
            });
            console.log(countries_suggestion)
            $('.typeahead').typeahead(
                { minLength: 1 },
                { source: countries_suggestion }
            );
        });  
        </script>
        <style>
        .typeahead { border: 1px solid #CCCCCC;border-radius: 4px;padding: 8px 12px;width: 500px;font-size:1.5em;}
        .tt-menu { width:500px; }
        span.twitter-typeahead .tt-suggestion {padding: 10px 20px;	border-bottom:#CCC 1px solid;cursor:pointer;}
        span.twitter-typeahead .tt-suggestion:last-child { border-bottom:0px; }
        .bgColor {max-width: 440px;height: 200px;background-color: #c3e8cb;padding: 40px 70px;border-radius:4px;margin:20px auto;}
        .demo-label {font-size:1.5em;color: #686868;font-weight: 500;}
        </style>

</head>

<body class="mt-3 mb-3 mr-3 ml-3">
    <div class="card text-center">
        <div class="card-header display-3 text-warning font-weight-bold">
            Movie Recommender System
        </div>
        <div class="card-body bg-warning">
            <h5 class="card-title "></h5>
            <p class="card-text"></p>
            <div class="media ">
                <img class="align-self-center mr-3 rounded border-success"
                    src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png"
                    alt="Generic placeholder image" style="width: 150px;border: 10px solid;">
                <div class="media-body">
                    <h1 class="text-left ml-3">{{ user_data[1] }}</h1>
                    <h5 class="text-left ml-3">Email: {{ user_data[2] }}</h5>
                    <h5 class="text-left ml-3">Movies Reviewed : {{ user_data[0] }}</h5>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted bg-white">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="stats-tab" data-toggle="tab" href="#stats" role="tab"
                        aria-controls="stats" aria-selected="true">STATS</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="recomm-tab" data-toggle="tab" href="#recomm" role="tab"
                        aria-controls="recomm" aria-selected="false">RECOMMENDATION</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="MoviesWatched-tab" data-toggle="tab" href="#MoviesWatched" role="tab"
                        aria-controls="MoviesWatched" aria-selected="false">MOVIES WATCHED </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="stats" role="tabpanel" aria-labelledby="stats-tab">
                    {% if stats_rating %}
                    <div>
                        <div class="m-3 border border-success" id="chartContainerpie"
                            style="height: 500px; width: 100%;"></div>
                        <br>
                        <div class="m-3 border border-success" id="chartContainerbar"
                            style="height: 500px; width: 100%;"></div>
                    </div>
                    {% else %}
                    <h2>Add some movies in watched movies</h2>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="recomm" role="tabpanel" aria-labelledby="recomm-tab">
                    <h1>Recommendation For You</h1><hr>
                    <div class="row">
                        {% for i in recomended_movie %}
                        <div class="col-m-4">
                            <div class="card m-3 " style="width: 18rem;">
                                <img class="card-img-top" src="{{ i.poster_path }}" alt="Card image cap">
                                <div class="card-body">
                                    <div class="card-text">
                                        <h5><a href="{{ url_for('movie',sess=sess_str,movie_id= i.id) }}" target="_blank">{{ i.title }}</a>
                                        </h5>
                                        <h4>Popularity : {{ i.popularity }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <hr><h1>Popular Right Now</h1><hr>
                    <div class="row">
                        {% for i in popular_movie %}
                        <div class="col-m-4">
                            <div class="card m-3 " style="width: 18rem;">
                                <img class="card-img-top" src="{{ i.poster_path }}" alt="Card image cap">
                                <div class="card-body">
                                    <div class="card-text">
                                        <h5><a href="{{ url_for('movie',sess=sess_str,movie_id= i.id) }}" target="_blank">{{ i.title }}</a>
                                        </h5>
                                        <h4>Popularity : {{ i.popularity }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="MoviesWatched" role="tabpanel" aria-labelledby="MoviesWatched-tab"><br>
                    <div class="form-group">
                        <label><h2><a href="{{ url_for('searchmovie',sess=sess_str) }}" target="_blank">Search A Movie</a></h2></label>
                      </div><hr>
                    <div class="row">
                        {% for i in data %}
                        <div class="col-m-4">
                            <div class="card m-3 " style="width: 18rem;">
                                <img class="card-img-top" src="{{ i.poster_path }}" alt="Card image cap">
                                <div class="card-body">
                                    <div class="card-text">
                                        <h5><a href="{{ url_for('movie',sess=sess_str,movie_id= i.id) }}" target="_blank">{{ i.title }}</a>
                                        </h5>
                                        <h4>User Star : {{ i.user_review }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        window.onload = function () {
        
            var options = {
                title: {
                    text: "Your Favourite Geners"
                },
                animationEnabled: true,
                data: [{
                    type: "pie",
                    startAngle: 40,
                    toolTipContent: "<b>{label}</b>: {y}%",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabelFontSize: 16,
                    indexLabel: "{label} - {y}%",
                    dataPoints: {{ stats_gen|safe }}
                    
                    /*[
                        { y: 48.36, label: "Windows 7" },
                    ]*/
                }]
            };
            $("#chartContainerpie").CanvasJSChart(options);

        
            var chart = new CanvasJS.Chart("chartContainerbar", {
                animationEnabled: true,
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                title:{
                    text: "Rating Percentages"
                },
                axisY: {
                    title: "Percentage"
                },
                data: [{        
                    type: "column",  
                    showInLegend: true, 
                    legendMarkerColor: "grey",
                    legendText: "Stars",
                    dataPoints: {{ stats_rating|safe }}
                    
                    /*[      
                        { y: 300878, label: "Venezuela" },
                    ]*/
                }]
            });
            chart.render();
        };
        </script>
</body>

</html>